<%- partial('../layout/h.ejs') %>
<h1>Login</h1>

<form method="POST" action="/login">
	
	<label>Email</label><input type="text" name="email" placeholder="Email"><br />
	<label>Password</label><input type="password" name="password" placeholder="Password"><br />

	<input type="submit" value="submit">

</form>
<%- partial('../layout/f.ejs') %>