<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title></title>
		<meta name="description" content="">
		
		
		<script type="text/javascript" src="/assets/iatelier/js/analog.js"></script>
		<link rel="stylesheet" href="/assets/iatelier/css/iatelier.css">

		<!-- <meta name="csrf-token" content="{{ csrf_token() }}"> -->
	</head>
	<body>
		<div class="window">
		
			<div class="bar">
				<div class="menu">
					<div class="window-title">
					</div>
				</div>
				<div class="buttons"></div>
				<div class="tabs">
					<a href="">New Tab</a>
	<!--
					<router-link to="/outline">Outline</router-link>
					<router-link to="/events">Events</router-link>
					<router-link to="/bundle">Bundle</router-link>
	-->
				</div>
			</div>
			
			<div class="content">
				<div class="sidebar">
				</div>
				
				<div class="panel">
