.flatpickr-calendar{background:transparent;opacity:0;display:none;text-align:center;visibility:hidden;padding:0;-webkit-animation:none;animation:none;direction:ltr;border:0;font-size:14px;line-height:24px;border-radius:5px;position:absolute;width:307.875px;-webkit-box-sizing:border-box;box-sizing:border-box;-ms-touch-action:manipulation;touch-action:manipulation;background:#fff;-webkit-box-shadow:1px 0 0 #e6e6e6,-1px 0 0 #e6e6e6,0 1px 0 #e6e6e6,0 -1px 0 #e6e6e6,0 3px 13px rgba(0,0,0,0.08);box-shadow:1px 0 0 #e6e6e6,-1px 0 0 #e6e6e6,0 1px 0 #e6e6e6,0 -1px 0 #e6e6e6,0 3px 13px rgba(0,0,0,0.08);}.flatpickr-calendar.open,.flatpickr-calendar.inline{opacity:1;max-height:640px;visibility:visible}.flatpickr-calendar.open{display:inline-block;z-index:99999}.flatpickr-calendar.animate.open{-webkit-animation:fpFadeInDown 300ms cubic-bezier(.23,1,.32,1);animation:fpFadeInDown 300ms cubic-bezier(.23,1,.32,1)}.flatpickr-calendar.inline{display:block;position:relative;top:2px}.flatpickr-calendar.static{position:absolute;top:calc(100% + 2px);}.flatpickr-calendar.static.open{z-index:999;display:block}.flatpickr-calendar.multiMonth .flatpickr-days .dayContainer:nth-child(n+1) .flatpickr-day.inRange:nth-child(7n+7){-webkit-box-shadow:none !important;box-shadow:none !important}.flatpickr-calendar.multiMonth .flatpickr-days .dayContainer:nth-child(n+2) .flatpickr-day.inRange:nth-child(7n+1){-webkit-box-shadow:-2px 0 0 #e6e6e6,5px 0 0 #e6e6e6;box-shadow:-2px 0 0 #e6e6e6,5px 0 0 #e6e6e6}.flatpickr-calendar .hasWeeks .dayContainer,.flatpickr-calendar .hasTime .dayContainer{border-bottom:0;border-bottom-right-radius:0;border-bottom-left-radius:0}.flatpickr-calendar .hasWeeks .dayContainer{border-left:0}.flatpickr-calendar.showTimeInput.hasTime .flatpickr-time{height:40px;border-top:1px solid #e6e6e6}.flatpickr-calendar.noCalendar.hasTime .flatpickr-time{height:auto}.flatpickr-calendar:before,.flatpickr-calendar:after{position:absolute;display:block;pointer-events:none;border:solid transparent;content:'';height:0;width:0;left:22px}.flatpickr-calendar.rightMost:before,.flatpickr-calendar.rightMost:after{left:auto;right:22px}.flatpickr-calendar:before{border-width:5px;margin:0 -5px}.flatpickr-calendar:after{border-width:4px;margin:0 -4px}.flatpickr-calendar.arrowTop:before,.flatpickr-calendar.arrowTop:after{bottom:100%}.flatpickr-calendar.arrowTop:before{border-bottom-color:#e6e6e6}.flatpickr-calendar.arrowTop:after{border-bottom-color:#fff}.flatpickr-calendar.arrowBottom:before,.flatpickr-calendar.arrowBottom:after{top:100%}.flatpickr-calendar.arrowBottom:before{border-top-color:#e6e6e6}.flatpickr-calendar.arrowBottom:after{border-top-color:#fff}.flatpickr-calendar:focus{outline:0}.flatpickr-wrapper{position:relative;display:inline-block}.flatpickr-months{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;}.flatpickr-months .flatpickr-month{background:transparent;color:rgba(0,0,0,0.9);fill:rgba(0,0,0,0.9);height:34px;line-height:1;text-align:center;position:relative;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;overflow:hidden;-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1}.flatpickr-months .flatpickr-prev-month,.flatpickr-months .flatpickr-next-month{text-decoration:none;cursor:pointer;position:absolute;top:0;height:34px;padding:10px;z-index:3;color:rgba(0,0,0,0.9);fill:rgba(0,0,0,0.9);}.flatpickr-months .flatpickr-prev-month.flatpickr-disabled,.flatpickr-months .flatpickr-next-month.flatpickr-disabled{display:none}.flatpickr-months .flatpickr-prev-month i,.flatpickr-months .flatpickr-next-month i{position:relative}.flatpickr-months .flatpickr-prev-month.flatpickr-prev-month,.flatpickr-months .flatpickr-next-month.flatpickr-prev-month{/*
      /*rtl:begin:ignore*/left:0;/*
      /*rtl:end:ignore*/}/*
      /*rtl:begin:ignore*/
/*
      /*rtl:end:ignore*/
.flatpickr-months .flatpickr-prev-month.flatpickr-next-month,.flatpickr-months .flatpickr-next-month.flatpickr-next-month{/*
      /*rtl:begin:ignore*/right:0;/*
      /*rtl:end:ignore*/}/*
      /*rtl:begin:ignore*/
/*
      /*rtl:end:ignore*/
.flatpickr-months .flatpickr-prev-month:hover,.flatpickr-months .flatpickr-next-month:hover{color:#959ea9;}.flatpickr-months .flatpickr-prev-month:hover svg,.flatpickr-months .flatpickr-next-month:hover svg{fill:#f64747}.flatpickr-months .flatpickr-prev-month svg,.flatpickr-months .flatpickr-next-month svg{width:14px;height:14px;}.flatpickr-months .flatpickr-prev-month svg path,.flatpickr-months .flatpickr-next-month svg path{-webkit-transition:fill .1s;transition:fill .1s;fill:inherit}.numInputWrapper{position:relative;height:auto;}.numInputWrapper input,.numInputWrapper span{display:inline-block}.numInputWrapper input{width:100%;}.numInputWrapper input::-ms-clear{display:none}.numInputWrapper input::-webkit-outer-spin-button,.numInputWrapper input::-webkit-inner-spin-button{margin:0;-webkit-appearance:none}.numInputWrapper span{position:absolute;right:0;width:14px;padding:0 4px 0 2px;height:50%;line-height:50%;opacity:0;cursor:pointer;border:1px solid rgba(57,57,57,0.15);-webkit-box-sizing:border-box;box-sizing:border-box;}.numInputWrapper span:hover{background:rgba(0,0,0,0.1)}.numInputWrapper span:active{background:rgba(0,0,0,0.2)}.numInputWrapper span:after{display:block;content:"";position:absolute}.numInputWrapper span.arrowUp{top:0;border-bottom:0;}.numInputWrapper span.arrowUp:after{border-left:4px solid transparent;border-right:4px solid transparent;border-bottom:4px solid rgba(57,57,57,0.6);top:26%}.numInputWrapper span.arrowDown{top:50%;}.numInputWrapper span.arrowDown:after{border-left:4px solid transparent;border-right:4px solid transparent;border-top:4px solid rgba(57,57,57,0.6);top:40%}.numInputWrapper span svg{width:inherit;height:auto;}.numInputWrapper span svg path{fill:rgba(0,0,0,0.5)}.numInputWrapper:hover{background:rgba(0,0,0,0.05);}.numInputWrapper:hover span{opacity:1}.flatpickr-current-month{font-size:135%;line-height:inherit;font-weight:300;color:inherit;position:absolute;width:75%;left:12.5%;padding:7.48px 0 0 0;line-height:1;height:34px;display:inline-block;text-align:center;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);}.flatpickr-current-month span.cur-month{font-family:inherit;font-weight:700;color:inherit;display:inline-block;margin-left:.5ch;padding:0;}.flatpickr-current-month span.cur-month:hover{background:rgba(0,0,0,0.05)}.flatpickr-current-month .numInputWrapper{width:6ch;width:7ch\0;display:inline-block;}.flatpickr-current-month .numInputWrapper span.arrowUp:after{border-bottom-color:rgba(0,0,0,0.9)}.flatpickr-current-month .numInputWrapper span.arrowDown:after{border-top-color:rgba(0,0,0,0.9)}.flatpickr-current-month input.cur-year{background:transparent;-webkit-box-sizing:border-box;box-sizing:border-box;color:inherit;cursor:text;padding:0 0 0 .5ch;margin:0;display:inline-block;font-size:inherit;font-family:inherit;font-weight:300;line-height:inherit;height:auto;border:0;border-radius:0;vertical-align:initial;-webkit-appearance:textfield;-moz-appearance:textfield;appearance:textfield;}.flatpickr-current-month input.cur-year:focus{outline:0}.flatpickr-current-month input.cur-year[disabled],.flatpickr-current-month input.cur-year[disabled]:hover{font-size:100%;color:rgba(0,0,0,0.5);background:transparent;pointer-events:none}.flatpickr-current-month .flatpickr-monthDropdown-months{appearance:menulist;background:transparent;border:none;border-radius:0;box-sizing:border-box;color:inherit;cursor:pointer;font-size:inherit;font-family:inherit;font-weight:300;height:auto;line-height:inherit;margin:-1px 0 0 0;outline:none;padding:0 0 0 .5ch;position:relative;vertical-align:initial;-webkit-box-sizing:border-box;-webkit-appearance:menulist;-moz-appearance:menulist;width:auto;}.flatpickr-current-month .flatpickr-monthDropdown-months:focus,.flatpickr-current-month .flatpickr-monthDropdown-months:active{outline:none}.flatpickr-current-month .flatpickr-monthDropdown-months:hover{background:rgba(0,0,0,0.05)}.flatpickr-current-month .flatpickr-monthDropdown-months .flatpickr-monthDropdown-month{background-color:transparent;outline:none;padding:0}.flatpickr-weekdays{background:transparent;text-align:center;overflow:hidden;width:100%;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;height:28px;}.flatpickr-weekdays .flatpickr-weekdaycontainer{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1}span.flatpickr-weekday{cursor:default;font-size:90%;background:transparent;color:rgba(0,0,0,0.54);line-height:1;margin:0;text-align:center;display:block;-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1;font-weight:bolder}.dayContainer,.flatpickr-weeks{padding:1px 0 0 0}.flatpickr-days{position:relative;overflow:hidden;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:start;-webkit-align-items:flex-start;-ms-flex-align:start;align-items:flex-start;width:307.875px;}.flatpickr-days:focus{outline:0}.dayContainer{padding:0;outline:0;text-align:left;width:307.875px;min-width:307.875px;max-width:307.875px;-webkit-box-sizing:border-box;box-sizing:border-box;display:inline-block;display:-ms-flexbox;display:-webkit-box;display:-webkit-flex;display:flex;-webkit-flex-wrap:wrap;flex-wrap:wrap;-ms-flex-wrap:wrap;-ms-flex-pack:justify;-webkit-justify-content:space-around;justify-content:space-around;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);opacity:1;}.dayContainer + .dayContainer{-webkit-box-shadow:-1px 0 0 #e6e6e6;box-shadow:-1px 0 0 #e6e6e6}.flatpickr-day{background:none;border:1px solid transparent;border-radius:150px;-webkit-box-sizing:border-box;box-sizing:border-box;color:#393939;cursor:pointer;font-weight:400;width:14.2857143%;-webkit-flex-basis:14.2857143%;-ms-flex-preferred-size:14.2857143%;flex-basis:14.2857143%;max-width:39px;height:39px;line-height:39px;margin:0;display:inline-block;position:relative;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;text-align:center;}.flatpickr-day.inRange,.flatpickr-day.prevMonthDay.inRange,.flatpickr-day.nextMonthDay.inRange,.flatpickr-day.today.inRange,.flatpickr-day.prevMonthDay.today.inRange,.flatpickr-day.nextMonthDay.today.inRange,.flatpickr-day:hover,.flatpickr-day.prevMonthDay:hover,.flatpickr-day.nextMonthDay:hover,.flatpickr-day:focus,.flatpickr-day.prevMonthDay:focus,.flatpickr-day.nextMonthDay:focus{cursor:pointer;outline:0;background:#e6e6e6;border-color:#e6e6e6}.flatpickr-day.today{border-color:#959ea9;}.flatpickr-day.today:hover,.flatpickr-day.today:focus{border-color:#959ea9;background:#959ea9;color:#fff}.flatpickr-day.selected,.flatpickr-day.startRange,.flatpickr-day.endRange,.flatpickr-day.selected.inRange,.flatpickr-day.startRange.inRange,.flatpickr-day.endRange.inRange,.flatpickr-day.selected:focus,.flatpickr-day.startRange:focus,.flatpickr-day.endRange:focus,.flatpickr-day.selected:hover,.flatpickr-day.startRange:hover,.flatpickr-day.endRange:hover,.flatpickr-day.selected.prevMonthDay,.flatpickr-day.startRange.prevMonthDay,.flatpickr-day.endRange.prevMonthDay,.flatpickr-day.selected.nextMonthDay,.flatpickr-day.startRange.nextMonthDay,.flatpickr-day.endRange.nextMonthDay{background:#569ff7;-webkit-box-shadow:none;box-shadow:none;color:#fff;border-color:#569ff7}.flatpickr-day.selected.startRange,.flatpickr-day.startRange.startRange,.flatpickr-day.endRange.startRange{border-radius:50px 0 0 50px}.flatpickr-day.selected.endRange,.flatpickr-day.startRange.endRange,.flatpickr-day.endRange.endRange{border-radius:0 50px 50px 0}.flatpickr-day.selected.startRange + .endRange:not(:nth-child(7n+1)),.flatpickr-day.startRange.startRange + .endRange:not(:nth-child(7n+1)),.flatpickr-day.endRange.startRange + .endRange:not(:nth-child(7n+1)){-webkit-box-shadow:-10px 0 0 #569ff7;box-shadow:-10px 0 0 #569ff7}.flatpickr-day.selected.startRange.endRange,.flatpickr-day.startRange.startRange.endRange,.flatpickr-day.endRange.startRange.endRange{border-radius:50px}.flatpickr-day.inRange{border-radius:0;-webkit-box-shadow:-5px 0 0 #e6e6e6,5px 0 0 #e6e6e6;box-shadow:-5px 0 0 #e6e6e6,5px 0 0 #e6e6e6}.flatpickr-day.flatpickr-disabled,.flatpickr-day.flatpickr-disabled:hover,.flatpickr-day.prevMonthDay,.flatpickr-day.nextMonthDay,.flatpickr-day.notAllowed,.flatpickr-day.notAllowed.prevMonthDay,.flatpickr-day.notAllowed.nextMonthDay{color:rgba(57,57,57,0.3);background:transparent;border-color:transparent;cursor:default}.flatpickr-day.flatpickr-disabled,.flatpickr-day.flatpickr-disabled:hover{cursor:not-allowed;color:rgba(57,57,57,0.1)}.flatpickr-day.week.selected{border-radius:0;-webkit-box-shadow:-5px 0 0 #569ff7,5px 0 0 #569ff7;box-shadow:-5px 0 0 #569ff7,5px 0 0 #569ff7}.flatpickr-day.hidden{visibility:hidden}.rangeMode .flatpickr-day{margin-top:1px}.flatpickr-weekwrapper{float:left;}.flatpickr-weekwrapper .flatpickr-weeks{padding:0 12px;-webkit-box-shadow:1px 0 0 #e6e6e6;box-shadow:1px 0 0 #e6e6e6}.flatpickr-weekwrapper .flatpickr-weekday{float:none;width:100%;line-height:28px}.flatpickr-weekwrapper span.flatpickr-day,.flatpickr-weekwrapper span.flatpickr-day:hover{display:block;width:100%;max-width:none;color:rgba(57,57,57,0.3);background:transparent;cursor:default;border:none}.flatpickr-innerContainer{display:block;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-sizing:border-box;box-sizing:border-box;overflow:hidden;}.flatpickr-rContainer{display:inline-block;padding:0;-webkit-box-sizing:border-box;box-sizing:border-box}.flatpickr-time{text-align:center;outline:0;display:block;height:0;line-height:40px;max-height:40px;-webkit-box-sizing:border-box;box-sizing:border-box;overflow:hidden;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;}.flatpickr-time:after{content:"";display:table;clear:both}.flatpickr-time .numInputWrapper{-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1;width:40%;height:40px;float:left;}.flatpickr-time .numInputWrapper span.arrowUp:after{border-bottom-color:#393939}.flatpickr-time .numInputWrapper span.arrowDown:after{border-top-color:#393939}.flatpickr-time.hasSeconds .numInputWrapper{width:26%}.flatpickr-time.time24hr .numInputWrapper{width:49%}.flatpickr-time input{background:transparent;-webkit-box-shadow:none;box-shadow:none;border:0;border-radius:0;text-align:center;margin:0;padding:0;height:inherit;line-height:inherit;color:#393939;font-size:14px;position:relative;-webkit-box-sizing:border-box;box-sizing:border-box;-webkit-appearance:textfield;-moz-appearance:textfield;appearance:textfield;}.flatpickr-time input.flatpickr-hour{font-weight:bold}.flatpickr-time input.flatpickr-minute,.flatpickr-time input.flatpickr-second{font-weight:400}.flatpickr-time input:focus{outline:0;border:0}.flatpickr-time .flatpickr-time-separator,.flatpickr-time .flatpickr-am-pm{height:inherit;float:left;line-height:inherit;color:#393939;font-weight:bold;width:2%;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-align-self:center;-ms-flex-item-align:center;align-self:center}.flatpickr-time .flatpickr-am-pm{outline:0;width:18%;cursor:pointer;text-align:center;font-weight:400}.flatpickr-time input:hover,.flatpickr-time .flatpickr-am-pm:hover,.flatpickr-time input:focus,.flatpickr-time .flatpickr-am-pm:focus{background:#eee}.flatpickr-input[readonly]{cursor:pointer}@-webkit-keyframes fpFadeInDown{from{opacity:0;-webkit-transform:translate3d(0,-20px,0);transform:translate3d(0,-20px,0)}to{opacity:1;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}}@keyframes fpFadeInDown{from{opacity:0;-webkit-transform:translate3d(0,-20px,0);transform:translate3d(0,-20px,0)}to{opacity:1;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}}/*
@font-face {
  font-family: "photon-entypo";
  src: url('/lil-plp/atelier/fonts/photon-entypo.eot');
  src: url('/lil-plp/atelier/fonts/photon-entypo.eot?#iefix') format('eot'),
    url('/lil-plp/atelier/fonts/photon-entypo.woff') format('woff'),
    url('/lil-plp/atelier/fonts/photon-entypo.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
*/

html,
button,
input,
select,
textarea,
.pure-g [class*=pure-u] {
  font: 100%/1.6 "Lato", sans-serif;
  font-weight: 400;
}

@media screen and (min-width: 35.5em) {
  html,
  button,
  input,
  select,
  textarea,
  .pure-g [class*=pure-u] {
    font-family: "Lato", sans-serif;
    font-weight: 400;
  }
}

@media screen and (min-width: 48em) {
  html,
  button,
  input,
  select,
  textarea,
  .pure-g [class*=pure-u] {
    font-family: "Lato", sans-serif;
    font-weight: 400;
  }
}

@media screen and (min-width: 64em) {
  html,
  button,
  input,
  select,
  textarea,
  .pure-g [class*=pure-u] {
    font-family: "Lato", sans-serif;
    font-weight: 400;
  }
}

html {
  font-size: 13px;
}

@media screen and (min-width: 35.5em) {
  html {
    font-size: 14px;
  }
}

@media screen and (min-width: 48em) {
  html {
    font-size: 15px;
  }
}

@media screen and (min-width: 64em) {
  html {
    font-size: 16px;
  }
}

@media screen and (min-width: 80em) {
  html {
    font-size: 17px;
  }
}

@media screen and (min-width: 120em) {
  html {
    font-size: 23px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-margin-after: 0em;
  -webkit-margin-before: 0em;
}

h1,
.h1 {
  font-size: 2em;
  /* 2x body copy size = 32px */
  line-height: 1.25;
  /* 45px / 36px */
}

@media (min-width: 43.75em) {
  h1,
  .h1 {
    font-size: 2.5em;
    /* 2.5x body copy size = 40px */
    line-height: 1.125;
    font-weight: 400;
  }
}

@media (min-width: 56.25em) {
  h1,
  .h1 {
    font-size: 3em;
    /* 3x body copy size = 48px */
    line-height: 1.05;
    /* keep to a multiple of the 20px line height and something more appropriate for display headings */
    font-weight: 300;
  }
}

h2,
.h2 {
  font-size: 1.625em;
  /* 1.625x body copy size = 26px */
  line-height: 1.15384615;
  /* 30px / 26px */
}

@media (min-width: 43.75em) {
  h2,
  .h2 {
    font-size: 2em;
    /* 2x body copy size = 32px */
    line-height: 1.25;
    font-weight: 400;
  }
}

@media (min-width: 56.25em) {
  h2,
  .h2 {
    font-size: 2.25em;
    /* 2.25x body copy size = 36px */
    line-height: 1.25;
    font-weight: 300;
  }
}

h3,
.h3 {
  font-size: 1.375em;
  /* 1.375x body copy size = 22px */
  line-height: 1.13636364;
  /* 25px / 22px */
}

@media (min-width: 43.75em) {
  h3,
  .h3 {
    font-size: 1.5em;
    /* 1.5x body copy size = 24px */
    line-height: 1.25;
  }
}

@media (min-width: 56.25em) {
  h3,
  .h3 {
    font-size: 1.75em;
    /* 1.75x body copy size = 28px */
    line-height: 1.25;
    font-weight: 400;
  }
}

h4,
.h4 {
  font-size: 1.125em;
  /* 1.125x body copy size = 18px */
  line-height: 1.11111111;
  font-weight: 800;
}

@media (min-width: 43.75em) {
  h4,
  .h4 {
    font-size: 1.25em;
    line-height: 1.22222222;
    /* (22px / 18px */
    font-weight: 500;
  }
}

@media (min-width: 56.25em) {
  h4,
  .h4 {
    font-size: 1.45em;
    line-height: 1.22222222;
    /* (22px / 18px */
    font-weight: 400;
  }
}

/*extra added*/

h5 {
  font-size: 1.1em;
  line-height: 1.67em;
}

.a a {
  padding: 0px;
  border-bottom: solid 1px rgba(77, 171, 171, 0.9);
  cursor: pointer;
}

.a a:hover {
  border-bottom: solid 1px #4dabab;
}

body {
  font-weight: 400;
}

code,
kbd,
pre,
samp {
  background-color: #ccc;
  padding: 0.1em 0.3em;
  border-radius: 0.2em;
  font-size: 0.9em;
}

.shadow {
  box-shadow: 0px 0px 1rem rgba(0, 0, 0, 0.8);
}

.shadow-s,
nav.in-section ul,
nav.in-section ol,
a.inlink:hover,
nav.pagination > div > a:hover,
a.inlink-sc:hover,
a.inlink,
nav.pagination > div > a,
a.inlink-sc {
  box-shadow: 0px 0px 1rem rgba(0, 0, 0, 0.4);
}

.shadow-s:hover,
nav.in-section ul:hover,
nav.in-section ol:hover,
a.inlink:hover,
nav.pagination > div > a:hover,
a.inlink-sc:hover {
  box-shadow: 0px 0px 1rem rgba(0, 0, 0, 0.8);
}

.mc {
  color: #1089b1;
}

.sc {
  color: #4dabab;
}

a.inlink,
nav.pagination > div > a {
  /*	text-shadow: none;*/
  text-indent: 0px;
}

a.inlink,
nav.pagination > div > a,
a.inlink-sc {
  display: inline-block;
  margin: 0.2rem;
  padding: 0.4rem 0.8rem 0.5rem 0.8rem;
  border-radius: 0.2rem;
  font-size: 0.9rem;
  line-height: normal;
}

a.inlink:hover,
nav.pagination > div > a:hover,
a.inlink-sc:hover {
  border: 1px solid rgba(51, 51, 51, 0.7);
}

a.inlink,
nav.pagination > div > a {
  color: #eee;
  border: 1px solid #1089b1;
  background-color: rgba(16, 137, 177, 0.7);
}

nav.pagination > div > *,
a.inlink,
nav.pagination > div > a {
  /*

  */
  /*	border-bottom: none;*/
  /*
  	-webkit-box-shadow: 5px 5px 10px rgba(0,0,0,0.4);
  	box-shadow: 5px 5px 10px rgba(0,0,0,0.4);
  */
}

nav.pagination > div > a:hover,
a.inlink:hover {
  background-color: #1089b1;
}

/*
nav.pagination > div > span {
	background-color: rgba($main-color, 0.7);
	color: white;
}
*/

a.inlink-sc {
  line-height: normal;
  color: #eee;
  border: 1px solid #4dabab;
  background-color: rgba(77, 171, 171, 0.7);
  text-indent: 0px;
}

a.inlink-sc:hover {
  background-color: #4dabab;
  color: #eee;
}

nav.in-section {
  margin: 1rem;
  padding: 0.5rem;
  top: -10px;
  position: relative;
}

@media screen and (min-width: 48em) {
  nav.in-section {
    margin: 24px 12px;
  }
}

@media screen and (min-width: 64em) {
  nav.in-section {
    margin: 24px;
  }
}

@media screen and (min-width: 80em) {
  nav.in-section {
    margin: 0.5rem;
  }
}

nav.in-section header {
  display: inline-block;
  position: relative;
  top: 1rem;
  margin: 0px 24px 5px 24px;
  padding: 0.2rem 1rem;
  border: 1px solid #4dabab;
  border-radius: 0.4rem;
  background-color: #4dabab;
  text-shadow: none;
  color: #eee;
}

nav.in-section header > a {
  border-bottom: 1px solid #4dabab;
}

nav.in-section header > a:hover {
  font-weight: bold;
  border-bottom: 1px solid #4dabab;
}

nav.in-section ul,
nav.in-section ol {
  list-style: none;
  margin: 0px;
  padding: 0.4rem;
  font-style: bold;
  border-radius: 0.4rem;
  border: 1px solid #1089b1;
  border-radius: 0.4rem;
  background-color: rgba(16, 137, 177, 0.6);
}

nav.in-section ol ol {
  background-color: inherit;
  border: none;
  margin-left: 0.5rem;
}

nav.in-section ul > li,
nav.in-section ol > li {
  margin: 0px 0px;
  box-sizing: border-box;
}

nav.in-section > ul.x > li {
  display: inline-block;
}

nav.in-section > ul.x > li.last {
  border-right: none;
}

nav.in-section ul > li > a,
nav.in-section ol > li > a {
  display: block;
  border: none;
  color: white;
  text-shadow: 0px 2px 2px black;
}

nav.in-section ul > li > a:hover,
nav.in-section ol > li > a:hover {
  border: none;
}

nav.in-section ul > li > a,
nav.in-section ol > li > a {
  background-color: transparent;
  padding: 6px 18px;
  /*	color: rgba(0, 0, 0, 0.5);*/
  /*	font-weight: 300;*/
}

nav.in-section ul > li > a:hover,
nav.in-section ol > li > a:hover {
  /*	color: rgba(0, 0, 0, 1);*/
  /*	color: white;*/
  /*	font-weight: 400;*/
  background-color: #1089b1;
  border-radius: 0.4rem;
}

body > footer {
  font-size: 0.8rem;
}

html {
  height: 100%;
  /* Because of Sticky Kit

  	overflow: hidden;
  */
}

body {
  /*
  	height: 100%;
  	overflow: auto;
  */
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
}

a:hover {
  /*	color: inherit;*/
  text-decoration: none;
}

ul {
  list-style: none;
  -webkit-padding-start: 0px;
  margin-bottom: 24px;
}

article {
  color: black;
  background-color: white;
  text-shadow: none;
}

a {
  padding: 0.2rem 0.4rem;
  background-color: rgba(255, 255, 255, 0.1);
  border-bottom: none;
}

a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.selectable-text {
  cursor: text;
  -webkit-user-select: text;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.padded {
  padding: 10px;
}

.padded-less {
  padding: 5px;
}

.padded-more {
  padding: 20px;
}

.padded-vertically {
  padding-top: 10px;
  padding-bottom: 10px;
}

.padded-vertically-less {
  padding-top: 5px;
  padding-bottom: 5px;
}

.padded-vertically-more {
  padding-top: 20px;
  padding-bottom: 20px;
}

.padded-horizontally {
  padding-right: 10px;
  padding-left: 10px;
}

.padded-horizontally-less {
  padding-right: 5px;
  padding-left: 5px;
}

.padded-horizontally-more {
  padding-right: 20px;
  padding-left: 20px;
}

.padded-top {
  padding-top: 10px;
}

.padded-top-less {
  padding-top: 5px;
}

.padded-top-more {
  padding-top: 20px;
}

.padded-bottom {
  padding-bottom: 10px;
}

.padded-bottom-less {
  padding-bottom: 5px;
}

.padded-bottom-more {
  padding-bottom: 20px;
}

.sidebar {
  background-color: #f5f5f4;
}

.draggable {
  -webkit-app-region: drag;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}

.clearfix:after {
  clear: both;
}

* {
  cursor: default;
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: system, -apple-system, ".SFNSDisplay-Regular", "Helvetica Neue", Helvetica, "Segoe UI", sans-serif;
  font-size: 13px;
  line-height: 1.6;
  color: #333;
  background-color: transparent;
}

hr {
  margin: 15px 0;
  overflow: hidden;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #ddd;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}

/*
.window {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
	display: flex;
  flex-direction: column;
  background-color: $chrome-color;
}
*/

.window-content {
  position: relative;
  overflow-y: auto;
  display: flex;
  flex: 1;
}

.toolbar {
  min-height: 22px;
  box-shadow: inset 0 1px 0 #f5f4f5;
  background-color: #e8e6e8;
  background-image: linear-gradient(to bottom, #e8e6e8 0%, #d1cfd1 100%);
}

.toolbar:before,
.toolbar:after {
  display: table;
  content: " ";
}

.toolbar:after {
  clear: both;
}

.toolbar-header {
  border-bottom: 1px solid #b3b2b3;
}

.toolbar-header .title {
  margin-top: 1px;
}

.toolbar-footer {
  border-top: 1px solid #b3b2b3;
  -webkit-app-region: drag;
}

.title {
  margin: 0;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  color: #555;
  cursor: default;
}

.toolbar-borderless {
  border-top: 0;
  border-bottom: 0;
}

.toolbar-actions {
  margin-top: 4px;
  margin-bottom: 3px;
  padding-right: 3px;
  padding-left: 3px;
  padding-bottom: 3px;
  -webkit-app-region: drag;
}

.toolbar-actions:before,
.toolbar-actions:after {
  display: table;
  content: " ";
}

.toolbar-actions:after {
  clear: both;
}

.toolbar-actions > .btn,
.toolbar-actions > .btn-group {
  margin-left: 4px;
  margin-right: 4px;
}

.menu-bar {
  margin: 0px;
  padding: 0px;
  font-size: 12px;
  background-color: #d3d3d3;
  border-bottom: 1px solid black;
}

.menu-bar a {
  display: inline-block;
  margin: 0px 0px;
  padding: 1px 8px;
  border: none;
  background-color: transparent;
}

.menu-bar a:hover {
  color: white;
  background-color: #345EF2;
  border: none;
}

.window .bar {
  box-shadow: inset 0 1px 0 #f5f4f5;
  background-color: #e8e6e8;
  background-image: linear-gradient(to bottom, #e8e6e8 0%, #d1cfd1 100%);
}

.window .bar > .menu {
  height: 22px;
}

.window .bar > .buttons {
  height: 44px;
}

.window .bar > .tabs {
  border-top: 1px solid gray;
}

.window .bar > .tabs > a {
  display: inline-block;
  font-size: 12px;
  margin: 4px 1px;
  padding: 0px 8px;
  border-radius: 4px;
  border: none;
  background-color: transparent;
}

.window .bar > .tabs > a:hover {
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
}

.window .bar > .tabs > a:active {
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
}

#os {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 20px auto;
  grid-template-rows: 20px auto;
  height: 100vh;
  width: 100vw;
}

#os .menu-bar {
  margin: 0px;
  padding: 0px;
  font-size: 12px;
  background-color: #d3d3d3;
  border-bottom: 1px solid black;
}

#os .menu-bar a {
  display: inline-block;
  margin: 0px 0px;
  padding: 1px 8px;
  border: none;
  background-color: transparent;
}

#os .menu-bar a:hover {
  color: white;
  background-color: #345EF2;
  border: none;
}

#os .desk {
  min-height: 0;
}

.window {
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: min-content 1fr min-content;
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content;
}

.window .bar {
  box-shadow: inset 0 1px 0 #f5f4f5;
  background-color: #e8e6e8;
  background-image: linear-gradient(to bottom, #e8e6e8 0%, #d1cfd1 100%);
}

.window .bar > .menu {
  height: 22px;
  text-align: center;
}

.window .bar > .buttons {
  height: 44px;
}

.window .bar > .tabs {
  border-top: 1px solid gray;
}

.window .bar > .tabs > a {
  display: inline-block;
  font-size: 12px;
  margin: 4px 1px;
  padding: 0px 8px;
  border-radius: 4px;
  border: none;
  background-color: transparent;
}

.window .bar > .tabs > a:hover {
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
}

.window .bar > .tabs > a:active {
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
}

.window .content {
  min-height: 0;
}

.window-drawer-top {
  margin: 0.5rem auto;
  padding: 0.4rem;
  max-width: 40rem;
  text-align: left;
  background-color: #e8e6e8;
}

.window > .content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
}

@media screen and (min-width: 35.5em) {
  .window > .content {
    -ms-grid-columns: 14.4rem 1fr;
    grid-template-columns: 14.4rem 1fr;
  }
}

.window > .content > .sidebar {
  display: none;
  overflow-y: scroll;
}

@media screen and (min-width: 35.5em) {
  .window > .content > .sidebar {
    display: block;
  }
}

.window > .content > .panel {
  overflow: scroll;
  min-width: 0px;
}

.text-editor {
  min-height: 80vh;
}

.panel-edit > .form-box {
  padding: 0.8rem;
  background-color: #cdcdcd;
  border-radius: 0.4rem;
  box-shadow: inset 0px 0px 1px grey;
}

.os-form-group {
  margin: 0.4rem 0.4rem;
  white-space: nowrap;
}

.os-form-group > label {
  display: inline-block;
  width: 5em;
  vertical-align: middle;
  text-align: end;
  white-space: normal;
  word-wrap: break-word;
}

.os-form-group > .form-control {
  display: inline-block;
  width: calc(100% - 5em);
  box-sizing: border-box;
  vertical-align: middle;
  white-space: normal;
}

/*
@import '~purecss/build/pure-min.css';
@import '~purecss/build/grids-responsive-min.css';
@import '/pure/grids/xx';

// BlazeCSS
// @import '~blaze';

// font
@import '/fonts';

// variables & basics
@import '/shadow';
@import '/colors/style';

@import '/components/link-button';
@import '/components/insection';
*/

.text-editor {
  min-height: 80vh;
}

.panel-edit > .form-box {
  padding: 0.8rem;
  background-color: #cdcdcd;
  border-radius: 0.4rem;
  box-shadow: inset 0px 0px 1px grey;
}

